{% extends 'service/base.html' %}

{% block content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center">
                <h1>Главная страница</h1>
            </div>
        </div>
        <div class="row mt-5">
            <div class="col-4">
                <p>Количество рассылок всего: {{ mailings_all }}</p>
            </div>
            <div class="col-4">
                <p>Количество активных рассылок: {{ mailing_active }}</p>
            </div>
            <div class="coi-4">
                <p>Количество уникальных клиентов для рассылок: {{ unique_customers }}</p>
            </div>
        </div>
        <div class="row mt-5">
            {% for article in blog %}
                <div class="col-4">
                    <p>{{ article.title }}</p>
                    <p>{{ article.body }}</p>
                    <p>{{ article.image }}</p>
                    <p>Количество просмотров: {{ article.views }}</p>
                    <p>Опубликован {{ article.published_on }}</p>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}

