{% extends 'base.html' %}

{% block content %}
    <h2 align="center">{{ object }}</h2>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Статус</th>
            <th scope="col">Начало</th>
            <th scope="col">Окончание</th>
            <th scope="col">Периодичность</th>
            <th scope="col">Дата следующей отправки</th>
            <th scope="col">Сообщение</th>
            <th scope="col">Получатели</th>
            <th scope="col">Логи</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            {% if object.is_active %}
                <th scope="row">Включена</th>
            {% else %}
                <th scope="row">Отключена</th>
            {% endif %}
            <td>{{ object.status }}</td>
            <td>{{ object.start }}</td>
            <td>{{ object.finish }}</td>
            {% if object.day %}
                <td>Раз в день</td>
            {% elif object.week %}
                <td>Раз в неделю</td>
            {% elif object.month %}
                <td>Раз в месяц</td>
            {% else %}
                <td>Не установлена</td>
            {% endif %}
            <td>{{ object.next_run }}</td>
            <td>
                <a href="{% url 'service:message' object.message.slug %}">Смотреть</a>
            </td>
            <td>
                {% for object in customers %}
                    <li>{{ object }}</li>
                {% endfor %}
            </td>
            <td>
                <a href="{% url 'service:logs' object.slug %}">Смотреть</a>
            </td>
            <td>
                {% if perms.service.change_mailing %}
                    <a class="btn btn-outline-warning"
                       href="{% url 'service:mailing_update' object.slug %}">Редактировать</a>
                {% endif %}
                {% if perms.service.delete_mailing %}
                    <a class="btn btn-outline-danger" href="{% url 'service:mailing_delete' object.slug %}">Удалить</a>
                {% endif %}
            </td>
        </tr>
        </tbody>
    </table>
{% endblock %}


