{% extends 'base.html' %}

{% block content %}
    <h2 align="center">Рассылки</h2>
    <div class="col12 mb-5">
        {% if perms.service.add_mailing %}
            <a class="p-2 btn btn-outline-success" href="{% url 'service:mailing_create' %}">Создать рассылку</a>
        {% endif %}
        <a class="p-2 btn btn-outline-primary" href="{% url 'service:report' %}">Отчет проведенных рассылок</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Тема</th>
            <th scope="col">Дата и время создания</th>
            <th scope="col">Статус рассылки</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <th scope="row">{{ object.pk }}</th>
                <td>
                    <a href="{% url 'service:mailing' object.pk %}">{{ object }}</a>
                </td>
                <td>{{ object.date_time }}</td>
                <td>{{ object.status }}</td>
                {% if perms.service.set_is_active_mailing %}
                    <td>
                        {% if object.is_active %}
                            <a class="btn btn-outline-danger"
                               href="{% url 'service:mailing_activity' object.pk %}">Отключить</a>
                        {% else %}
                            <a class="btn btn-outline-success"
                               href="{% url 'service:mailing_activity' object.pk %}">Включить</a>
                        {% endif %}
                    </td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}