{% extends 'service/base.html' %}

{% block content %}
    <h2 align="center">Рассылки</h2>
    <div class="col12 mb-5">
        <a class="p-2 btn btn-outline-success" href="{% url 'service:mailing_create' %}">Создать рассылку</a>
        <a class="p-2 btn btn-outline-primary" href="{% url 'service:report' %}">Отчет проведенных рассылок</a>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">Тема</th>
            <th scope="col">Дата и время создания</th>
            <th scope="col">Статус рассылки</th>
        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}
            <tr>
                <th scope="row">{{ object.pk }}</th>
                <td>{{ object.message }}</td>
                <td>{{ object.date_time }}</td>
                <td>{{ object.status }}</td>
                <td>
                    <a href="{% url 'service:mailing' object.pk %}">Смотреть</a>
                </td>
                <td>
                    {% if object.is_activ %}
                        <a class="btn btn-outline-warning"
                           href="{% url 'service:mailing_off' object.pk %}">Отключить</a>
                    {% else %}
                        <a class="btn btn-outline-warning"
                           href="{% url 'service:mailing_on' object.pk %}">Включить</a>
                    {% endif %}
                </td>


            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}