{% extends 'service/base.html' %}

{% block content %}
<main>
    <div class="container py-4">
        <div class="p-5 mb-4 bg-body-tertiary rounded-3">
            <div class="container-fluid py-5">
                <h3>Получатели</h3>
                {% for object in customers %}
                <li>{{ object }}</li>
                {% endfor %}
                <h3>Тема рассылки</h3>
                <p class="col-md-8 fs-4">{{ object.message }}</p>
                <h3>Контент</h3>
                <p class="col-md-8 fs-4">{{ object.message.body }}</p>
                <p>Начало рассылки: {{ object.start }}</p>
                <p>Окончание рассылки: {{ object.finish }}</p>
                <h5>Периодичность рассылки</h5>
                {% if object.day %}
                <p>-раз а день</p>
                {% elif object.week %}
                <p>-раз а неделю</p>
                {% elif object.month %}
                <p>-раз а месяц</p>
                {% else %}
                <p>-не установлена</p>
                {% endif %}
                <p class="col-md-8 fs-4">{{ object.periodicity }}</p>
                <p class="col-md-8 fs-4">{{ object.log }}</p>
                <a class="btn btn-primary btn-lg" type="button" href="{% url 'service:services'%}">Закрыть</a>
                <a class="btn btn-warning btn-lg" type="button" href="{% url 'service:service_update' object.pk %}">Редактировать</a>
                <a class="btn btn-danger btn-lg" type="button" href="{% url 'service:service_delete' object.pk %}">Удалить</a>
            </div>
        </div>
    </div>
</main>
{% endblock %}+